
body{
    text-align:center;
}
#yourMeteo{
    display:flex;
    justify-content:space-between;
    min-height: 500px;
    #meteoPlan{
        flex: 0 0 20%;
        #meteomap{
            min-height: 400px;
            margin: .5rem;
        }
    }
    #meteoRender{
        flex: 0 0 75%;
        display: flex;
        justify-content: space-around;
        .meteoJ{
            flex: 0 0 19%;
            display: flex;
            flex-direction:column;
        }
    }
}